<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luthbox - Equipamentos</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/estilo_musica.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

      <%- include("../partials/header"); %>

    <main class="seguros-main-content" id="main-content">
        </main>

      <%- include("../partials/menu"); %>

    <script src="js/script.js"></script>
    <script src="js/estilos.js"></script> 
</body>
</html>