<!DOCTYPE html>
 <html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luthbox - Tenha Seguro no seu Show | Cordas Soltas</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/luthbox.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

      <%- include("../partials/header"); %>

    <main class="luthbox-main-content">
        <section class="luthbox-container">
            
            <header class="luthbox-header">
                <p class="luthbox-tagline">tenha seguro no seu show</p>
                <h1>Luthbox</h1>
            </header>

            <figure class="luthbox-hero-image">
                <img src="https://i.pinimg.com/736x/4f/c2/5d/4fc25d6759a8fb2b65287ecf96aaced9.jpg" alt="Kit de bateria, amplificadores e guitarra em um palco escuro">
            </figure>

            <article class="luthbox-text-block">
                <p>A <b>Luthbox</b> nasceu para oferecer suporte rápido e prático a músicos em situações de emergência. Problemas em instrumentos podem acontecer a qualquer momento, e nem sempre há uma equipe estruturada ou instrumentos reservas disponíveis. Por isso, disponibilizamos uma variedade de instrumentos para que o artista nunca precise cancelar ou comprometer sua apresentação.</p>
            </article>

            <figure class="luthbox-kit-image">
                <img src="https://i.pinimg.com/736x/14/c1/a7/14c1a726ea43d619282e911726e13d4d.jpg" alt="Seleção de instrumentos musicais brancos: guitarras, amplificadores e bateria">
            </figure>

            <section class="luthbox-buy-section">
                <h2>Garanta seu seguro no show :</h2>
                <p>Com apenas um valor adicional, você garante a tranquilidade do seu show: se o seu instrumento acontecer, terá um instrumento à sua disposição.</p>
                <a href="#" id="buy-luthbox-btn" class="button-comprar">Comprar Seguro</a>
                
                <section id="error-message" class="error-message"></section>
            </section>

        </section>
    </main>

   <footer class="luthbox-footer">
        <p>Barueri, Jandira - SÃO PAULO - SP - brasil</p>
        <p>cordassoltascontatos@gmail.com | +55 (11) 1234-5678</p>
        <p>Todos os direitos reservados 2025.</p>
    </footer>

      <%- include("../partials/menu"); %>

    <script src="js/script.js"></script>
    <script src="js/luthbox.js"></script> 
    <script src="js/global.js"></script>
</body>
</html>