<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensalidade - Cordas Soltas</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css"> <link rel="stylesheet" href="css/mensalidade.css">
    </head>
<body>

      <%- include("../partials/header"); %>

    <main class="mensalidade-main-content">
        <section class="mensalidade-container">
            
            <header class="mensalidade-header">
                <p class="subtitle">faça parte do nosso projeto assinando</p>
                <h1 class="title">Mensalidade</h1>
            </header>

            <figure class="hero-image-container mensalidade-image-wrapper">
                <img src="img/genehoglan.jpg" alt="Baterista no palco com luzes. Imagem representativa de música e performance." class="hero-image">
            </figure>

            <article class="description-box mensalidade-text-block">
                <p>
                    Os músicos poderão assinar nossa mensalidade de forma simples, sem precisar passar por processo seletivo, garantindo acesso exclusivo a festivais, shows, networking e conteúdos para seu desenvolvimento artístico. A mensalidade tem duração de 1 ano, promovendo um ambiente inclusivo e estrutura para que os músicos possam crescer e participar ativamente.
                </p>
                <p class="cta-prompt">Assine já sua mensalidade:</p>
            </article>

            <section class="pricing-card-section">
                <section class="pricing-card">
                    <p class="price">R$ 320,99</p>

                    <ul class="features-list">
                        <li>Acesso aos Festivais</li>
                        <li>Contrato de um ano conosco</li>
                        <li>Divulgaremos Suas Músicas e Shows</li>
                        <li>Sem concurso!</li>
                    </ul>

                    <button class="subscribe-button button-assinatura">Assinar</button>
                </section>
            </section>
        </section>
    </main>

    <footer class="mensalidade-footer">
        <p>Barueri, Jandira - SÃO PAULO - SP - brasil</p>
        <p>cordassoltascontatos@gmail.com | +55 (11) 1234-5678</p>
        <p>Todos os direitos reservados 2025.</p>
    </footer>

      <%- include("../partials/menu"); %>

    <script src="js/script.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const accountLink = document.getElementById('account-link');
            const userProfile = localStorage.getItem('userProfile');
            if (userProfile) {
                accountLink.href = '/perfil';
            } else {
                accountLink.href = '/login';
            }
        });
    </script>
</body>
</html>